.header {
  position: relative;
  background-color: #05011a;
  background-image: url(../../images/1.jpeg);
  background-repeat: no-repeat;
  background-position: -250px 0;
  background-size: 1653px auto;
  overflow: hidden;
}